<h1 class="animated fadeIn fast"> Clientes </h1>
<hr>

<form autocomplete="off" [formGroup]="forma" (ngSubmit)='guardar()'>

    <mat-form-field class="example-full-width" class="col-sm-4">
        <mat-label>Nombre Completo</mat-label>
        <input matInput placeholder="Ex. Junito Perez Ochoa" formControlName='nombre'>
        <mat-error *ngIf="forma.get('nombre').hasError('required')">campo <b>requerido</b> </mat-error>
        <mat-error *ngIf="forma.get('nombre').hasError('faltaApellido')">el campo debe contener <b>nombre y apellido</b> </mat-error>
    </mat-form-field>


    <mat-form-field class="col-sm-4">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName='fecha_nac'>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="forma.get('fecha_nac').hasError('required')">campo <b>requerido</b> </mat-error>
    </mat-form-field>


    <mat-radio-group class="col-sm-4" formControlName='genero'>
        <label for="">Genero:  </label>
        <mat-radio-button class="col-sm-1" value="1">Mujer </mat-radio-button>
        <mat-radio-button class="col-sm-1" value="2">Hombre</mat-radio-button>
    </mat-radio-group>


    <mat-form-field class="col-sm-4">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. pat@example.com" formControlName='email'>
        <mat-error *ngIf="forma.get('email').hasError('required')">campo <b>requerido</b> </mat-error>
        <mat-error *ngIf="forma.get('email').hasError('pattern')">el campo <b>no es valido</b> </mat-error>
    </mat-form-field>


    <mat-form-field class="col-sm-4">
        <mat-label>Telefono</mat-label>
        <span matPrefix>+57 &nbsp;</span>
        <input matInput placeholder="322-555-1234" formControlName='telefono'>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="forma.get('telefono').hasError('required')">campo <b>requerido</b> </mat-error>
        <mat-error *ngIf="forma.get('telefono').hasError('minlength')">campo debe <b>tener 10 numeros</b> </mat-error>
        <mat-error *ngIf="forma.get('telefono').hasError('telefonoNoColombiano')">campo debe ser un <b>telefono colombiano</b> </mat-error>
    </mat-form-field>

    <!--(click)='Registrar(params)' -->
    <br><br>
    <button class="col-sm-4" type="submit" mat-raised-button color="primary">Registrar</button>



</form>






<!--tabla de bd-->
<div class="animated fadeIn" *ngIf="clientes.length > 0">
    <hr>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-sm-12">


        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let cliente"> {{cliente.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Edad </th>
            <td mat-cell *matCellDef="let cliente"> {{cliente.fecha}} </td>
        </ng-container>

        <ng-container matColumnDef="genero">
            <th mat-header-cell *matHeaderCellDef> Genero </th>
            <td mat-cell *matCellDef="let cliente"> {{cliente.genero | genero}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> E-mail </th>
            <td mat-cell *matCellDef="let cliente"> {{cliente.email}} </td>
        </ng-container>

        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> Celular </th>
            <td mat-cell *matCellDef="let cliente"> {{cliente.telefono}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>