<nav class="sidebar-navigation m-md-5 mt-5" flex>




    <mat-button-toggle appearance='legacy' routerLinkActive="selected" value="Clientes " [routerLink]="[ 'clientes'] ">Clientes</mat-button-toggle>
    <mat-button-toggle appearance='legacy' routerLinkActive="selected" value="Peliculas " [routerLink]="[ 'peliculas'] ">Peliculas</mat-button-toggle>
    <mat-button-toggle appearance='legacy' routerLinkActive="selected" value="Vender " [routerLink]="[ 'vender'] ">Vender</mat-button-toggle>
    <mat-button-toggle appearance='legacy' routerLinkActive="selected" value="Reportes " [routerLink]="[ 'reportes'] ">Reportes</mat-button-toggle>


</nav>